<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDBConnection"
			 connectionString="Server=DB_PointOfSale.mssql.somee.com; Database=DB_PointOfSale; User ID=Al5al_SQLLogin_1; Password=rmtgbk1xu2; TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
		<add name="MyDBConnectionLocal"
			 connectionString="Data Source=.; Initial Catalog=DB_PointOfSale; Integrated Security=True; TrustServerCertificate=True;"/>

	</connectionStrings>

</configuration>